.itemContainer {
    text-align: center;
    border: 1px solid #c58518;
    border-radius: 10px;
    margin: 3rem;
    padding: 10px;
    background-color: white;
}

.miniImg{
    width: 25rem;
    transition: all 1s;
}

.miniImg:hover{
    transform: scale(1.5);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

h2 {
    font-weight: bold;
}

h3 {
    color: #c58518;
    font-weight: bold;
}

h4 {
    font-size: 1.2rem;
    font-weight: 800;
}

p{
    font-size: 1.2rem;
}